@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(47, 79, 79); /* Dark Slate Gray */
  --background-start-rgb: rgb(173, 216, 230); /* Light Blue */
  --background-end-rgb: rgb(240, 236, 252); /* Lavender Blush */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(70, 130, 180); /* Steel Blue */
    --background-start-rgb: rgb(13, 17, 23); /* Onyx */
    --background-end-rgb: rgb(16, 20, 26); /* Onyx */
  }
}

body {
  color: var(--foreground-rgb);
  background: linear-gradient(to bottom, transparent, var(--background-end-rgb))
    var(--background-start-rgb);
  min-height: 100vh;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input[type="text"] {
  color: black;
  border-color: black;
}

.formTextBox {
  color: black;
  border-color: black;
}

/* .dropdown-menu {
  position: absolute !important;
  right: 0 !important;
  min-width: 10rem;
  margin-top: 0.5rem;
} */